/* ---- Font ---- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* ---- Global ---- */

body {
  color: var(--color-text);
  background: var(--background-dark-base);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

.chat{
  margin: 2rem auto;
  width: 414px;
}

.chat-header{
  padding: 1.5rem 1rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0; 
  background: var(--background-dark-lightness-30);
  text-align: center;
}

.chat-container{
  padding: 2rem 1rem 1rem;
  height: 500px;
  overflow: scroll;
  background: var(--background-dark-lightness-20);
}

.chat-footer{
  padding: 1.5rem 1rem;
  border-radius: 0 0 var(--border-radius) var(--border-radius); 
  background: var(--background-dark-lightness-30);
}

.chat-footer-wrapper{
  display: flex;
}

.chat-footer-input{
  flex-grow: 1;
  padding: 0.75rem 1rem;
  border-radius: 24px;
  border: 0;
  font-size: 1rem;
  cursor: text;
  color: var(--color-text);
  background-color: var(--background-dark-lightness-20);
}

.chat-footer-btn{
  height: 42px;
  width: 42px;
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--color-text);
  background: var(--color-white-opacity-02);
  border-radius: var(--border-radius);
  border: 0;
}